@CHARSE

        .box {
            background-size: cover;
            margin: 0 auto;
            position: relative;
            width: 100%;
            height: 100%;
        }

        .login-box {
	width: 100%;
	max-width: 600px;
	height: 400px;
	position: absolute;
	top: 50%;
	margin-top: -200px;
    
	left: 50%;
	margin-left: -300px;
        }


        .form {
            width: 100%;
            max-width: 600px;
            height: 250px;
            margin: 2px auto 0px auto;
        }

        .login-content {
           
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            height: 250px;
            width: 100%;
            max-width: 600px;
            background-color: rgba(255, 250, 2550, .6);
            float: left;
        }

        .input-group {
            margin: 30px 0px 0px 0px;
			text-align:center;
        }

        .form-control,.input-group {
            height: 40px;
        }


        
        .radio-group{
            margin-top:10px;
            margin-left:45px;
			text-align:center;
        }
        .login-title {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            padding: 20px 10px;
            background-color: rgba(0, 0, 0, .6);
			text-align:center;
        }

        .login-title h1 {
            margin-top: 5px ;
			margin-bottom:10px;
        }

        .login-title small {
            color: #fff;
        }

        .link p {
            line-height: 20px;
            margin-top: 30px;
        }

        .btn {
            padding: 8px 24px ;
            font-size: 16px ;
			text-align:center;
        }

        .flag {
            position: absolute;
            top: 10px;
            right: 10px;
            color: #fff;
            font-weight: bold;
            font: 14px/normal "microsoft yahei", "Times New Roman", "ו", Times, serif;
        }
        
